img{
   
    height: 350px;
    width: 350px;
    margin-top: 100px;
    border-radius: 10px;
    }
.btn
{
    background-color: rgb(215, 172, 179);
    border-radius: 5px;
    margin-top: 10px;
    height: 30px;
    width: 110px;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
