
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0836f2;
    padding: 10px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .img1 {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  
  .logoName {
    font-size: 15px;
    font-weight: bold;
  }
  
  .nav1 {
    display: flex;
  }
  
  .ul1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    
  }
  
  .li1 {
    margin-right: 10px; /* Add spacing between the navigation links */
  }
  
  .a1 {
    text-decoration: none;
    color: #333;
  }
  
  .bar {
    display: none;
  }
  .navfinal{
    display:none;
  }
  
.hero{
    display: flex;
    }
  
    .img2{
      height: 40vh;
      width: 60vw;
      margin-right: 10px;
    }

  /* Media query for mobile view */
  @media  screen and (max-width: 600px) {
    .logo {
      justify-content: space-between; /* Adjust the alignment of the logo and menu icon */
    }
  
    .nav1 {
      display: none; /* Hide the navigation links by default */
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #f2f2f2;
      padding: 10px;
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .bar {
      display: block;
      cursor: pointer;
    }
  
  
      
    
      
      

  }
  