.container{
    border: 1px solid green;
    width: 70%;
    margin: auto;
    display: flex;
    padding: 2rem;
    overflow: scroll;

    
}
.container::-webkit-scrollbar{
    display: none;
}

.card{
    min-height: 200px;
    min-width: 200px;
    border-radius: 15px;
    margin-right: 2rem;
}